* {
    padding: 0;
    margin: 0;
   
}

h1 {
    text-align: center;
    font-size: 4vw;
    padding: 1em;
}

.game-window {
    background-image: url(/assets/images/background.webp);
    background-size: 100%;
    width: 60vw;
    height: 40vh;
    border: 1px solid black;
    overflow: hidden;
    margin: auto;
    transition: 0.5s;
    transform: scale(1);
    flex: 1;
}

.game-window:hover {
    transform: scale(1.1); 
    z-index: 2;
    flex: 2;
}

#character {
    width: 2vw;
    height: 5vh;
    background-color: black;
    position: relative;
    top: 35vh; 
    left: 1vw;
}

.jump {
    animation: jump 1s;
}


@keyframes jump {
    0%{top: 35vh;}
    65%{top: 20vh;}
    100%{top: 35vh;}
}

.djump {
    animation: djump 1.5s;
}

@keyframes djump {
    0%{top: 35vh;}
    70%{top: 10vh;}
    100%{top: 35vh;}
}


#point {
    width: 2vw;
    height: 2vh;
    background-color: beige;
    position: relative;
    animation: block 3s infinite linear;
}

@keyframes block {
    0%{left: 80vw;}
    100%{left: 0vw}
}

#obstacle {
    background-color: blueviolet;
    width: 2vw;
    height: 7vh;
    position: relative;
    top: 26vh;
    animation: block 2s infinite linear;
}

